.table-row { 
    display: table-row;
}

.table-cell { 
    display: table-cell;
    padding: 10px;
    border-bottom: 1px solid #777;
    border-right: 1px solid #777;
}

.table-cell:first-child {
    border-left: 1px solid #777;
}

a.table-row {
    color: #474747;
}

a.table-row:hover {
    text-decoration: none;
}

.pseudo-table {
    width: 100%;
    display: table;
    border-top: 1px solid #777;
}

.break-me {
    display: inline;
}

.pagination a:hover {
    cursor: pointer;
}

.break-me a {
    position: relative;
    float: left;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.5;
    color: #0275d8;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.filter-buttons {
    margin: 10px 0 20px;
}

.filter-buttons .btn{
    padding: 5px 10px;
    margin-right: 10px;
    border: 2px solid transparent;
}
.filter-buttons .ac {
    font-weight: 600;
    border-color: #4E4848;
}

.searchBar {
    margin-bottom: 20px;
}

.new-client {
    margin-bottom: 20px;
}

.btn.back {
    margin: 10px 0;
}

.newClientButton {
    margin: 20px 10px 20px 0;
}

.form-group label {
    margin: 10px 0;
}

.pagination {
    display: flex;
    justify-content: center;
}

.has-danger {
    color: #d9534f;
}

.text-center {
    text-align: center;
}

h2 {
    margin: 10px 0 20px;
}

.homePageLink {
    text-align: center;
    color: #333;
}

.homePageLink:hover, .homePageLink:focus {
    color: #333;
    text-decoration: none;
}